@font-face{
    font-family: "Inter";
    src: url(assets/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    background-color: #D9D9D9;
    background-image: url(assets/Abstract-Background2.png);
    background-size: cover;
}

#title-icon{
    width: 300px;
    border-radius: 10px;
    margin-bottom: 78px;
    user-select: none;
}

.text{
    font-family: Inter;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
}

#input-div{
    margin: 0 auto;
    display: block;
    width: 955px;
}

#test{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 75px;
    background-color: #680704;
}

#email-username{
    background-color: #000000;
    border-radius: 64px 0px 0px 64px;
    width: 845px;
    height: 75px;
    position: absolute;
    border: 0;
    outline: none;
    color: #FFFFFF;
    padding: 0px 20px;
    font-size: 20px;
    font-family: Inter;
}

#submit-email-username{
    z-index: 9;
    width: 145px;
    height: 75px;
    background-color: #ff160a;
    border-radius: 64px 0px 64px 64px;
    font-family: Inter;
    color: #FFFFFF;
    font-size: 32px;
    position: relative;
    float: right;
    border: 0;
}

#div-bottom{
    background-color: #383737;
    height: 250px;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0;
}

#div-even-text{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}

#div-line{
    width: 95%;
    border: 3px solid rgba(0, 0, 0, 0.1);
}

#div-info{
    display: flex;
    justify-content: center;
}

#div-learn-more{
    font-size: 20px;
    width: 650px;
    white-space: pre-wrap;
    padding-right: 10px;
    font-family: Inter;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

#button-learn-more{
    background-color: #680704;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    border: 0;
    font-family: Inter;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
    margin-top: 15px;
}

#powered-by-corner{
    position: fixed;
    bottom: 0;
    right: 0;
    font-family: Inter;
    color: #FFFFFF;
    font-size: 12px;
    text-align: center;
    user-select: none;
    padding-bottom: 3px;
}


@media (max-width: 1024px){
    h2{
        display: none;
    }
    #input-div{
        transform: scale(0.8);
    }
}
